<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            grid-auto-rows: 100px;

        }

        .wrapper>div {
            background-color: #ddd;
        }

        .wrapper>div:nth-child(odd) {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
        <div>
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</body>

</html>